---
import "../index.scss";
import Layout from '../../layouts/Layout.astro';
import Content from '../../copy/content.json';
import Verse from "../../components/Verse.astro";

const page = "homepage";
const lang = "en";
const content = Content[lang];
const pageContent = content.pages[page];
const title = pageContent.metadata.title;
const description = pageContent.metadata.description;
const canonical = pageContent.metadata.canonical;
const oppositeLangCanonical = pageContent.metadata.oppositeCanonical;
const pageClass = `page-${page} ${lang}`;
---

<Layout 
	title={title}
	description={description}
	canonical={canonical}
	lang={lang}
	langSwitchHref={oppositeLangCanonical}
	pageClass={pageClass}
	>
	<main>
		<div class="hero relative" role="banner">
			<div class="hero__overlay absolute"></div>
			<div class="container">
				<div class="hero__header">
					<h1 class="relative">
						{pageContent.hero.header}
					</h1>
					<p class="relative">
						{pageContent.hero.subheader}
					</p>
				</div>
				<div class="verse relative">
					<Verse 
						copy="Nada hagáis por egoísmo o por vanagloria, sino que con actitud humilde cada uno de vosotros considere al otro como más importante que a sí mismo,"
						book="Filipenses 2:3"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
<script>
	window.addEventListener("load", () => {
		document.querySelector("body.page-homepage .hero").classList.add("animate");
	})
</script>