---
import "@pages/index.scss";
import Layout from '@layouts/Layout.astro';
import Content from 'public/content/content.json';
import Verse from "@components/Verse.astro";
import AboutSVG from "@components/AboutSVG.astro";
import BeliefsSVG from "@components/BeliefsSVG.astro";
import BlogSVG from "@components/BlogSVG.astro";
import Events from "@components/Events.astro";
import VerseOfTheDay from "@components/VerseOfTheDay.astro";

const page = "homepage";
const lang = "en";
const content = Content[lang];
const pageContent = content.pages[page];
const title = pageContent.metadata.title;
const description = pageContent.metadata.description;
const pageClass = `page-${page} ${lang}`;

const events = [
	{
		"title": "Titulo del evento",
		"description": "Amet ea aliqua cillum sint est eu",
		"date": "Sabado 11 de Marzo - 3:00pm",
		"location": "624 Annete St, Toronto, ON",
		"locationHref": "/ubicacion-servicios"
	},
	{
		"title": "Titulo del evento",
		"description": "Amet ea aliqua cillum sint est eu",
		"date": "Sabado 11 de Marzo - 3:00pm",
		"location": "624 Annete St, Toronto, ON",
		"locationHref": "/ubicacion-servicios"
	},
	{
		"title": "Titulo del evento",
		"description": "Amet ea aliqua cillum sint est eu",
		"date": "Sabado 11 de Marzo - 3:00pm",
		"location": "624 Annete St, Toronto, ON",
		"locationHref": "/ubicacion-servicios"
	},
	{
		"title": "Titulo del evento",
		"description": "Amet ea aliqua cillum sint est eu",
		"date": "Sabado 11 de Marzo - 3:00pm",
		"location": "624 Annete St, Toronto, ON",
		"locationHref": "/ubicacion-servicios"
	}
]
---

<Layout 
	title={title}
	description={description}
	lang={lang}
	esHref={pageContent.metadata.esHref}
	enHref={pageContent.metadata.enHref}
	pageClass={pageClass}
	canonical={`${pageContent}["${lang}Href"]`}
	>
	<main id="main">
		<div class="hero relative" role="banner">
			<div class="container">
				<div class="hero__header">
					<h1 class="relative">
						{pageContent.hero.header}
					</h1>
					<p class="relative">
						{pageContent.hero.subheader}
					</p>
				</div>
				<div class="verse relative">
					<VerseOfTheDay lang={lang} />
				</div>
			</div>
			<div class="hero-shadow"></div>
		</div>
		<section class="section-alt sunday-service text-center relative ">
			<div class="container">
				<div class="sunday-service__callout bg-white box-shadow relative">
					<h2>{pageContent.copy.sectionSundayService.calloutOne.copy} 
						[<a target="_blank" rel="noopener" href={pageContent.copy.sectionSundayService.calloutOne.ctaOneHref} class="inline">{pageContent.copy.sectionSundayService.calloutOne.ctaOneCopy}</a>
						 y <a href={pageContent.copy.sectionSundayService.calloutOne.ctaTwoHref} class="inline">{pageContent.copy.sectionSundayService.calloutOne.ctaTwoCopy}</a>]
					</h2>
				</div>
				<div class="sunday-accent"></div>
			</div>
		</section>
		<section class="section welcome">
			<div class="container">
				<h2 class="subheading">{pageContent.copy.sectionWelcome.header}</h2>
				<div class="flex flex-justify-between welcome__container flex-wrap bg-white box-shadow">
					<div class="welcome__copy ">
						<Fragment set:html={pageContent.copy.sectionWelcome.copyOne} />
					</div>
					<div class="welcome__video">
						<iframe src="https://www.youtube-nocookie.com/embed/K4TOrB7at0Y" title="YouTube video player" allow="encrypted-media; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section class="section-alt ctas">
			<div class="container ctas__container flex flex-align-top flex-justify-center relative flex-wrap">
				<div class="cta__accent absolute"></div>
				<div class="cta__content about relative bg-white box-shadow">
					<div class="cta__icon">
						<AboutSVG />
					</div>
					<div class="cta__copy">
						<p>{pageContent.copy.sectionCta.ctaOne.copy}</p>
					</div>
					<div class="cta__link text-center">
						<a href={pageContent.copy.sectionCta.ctaOne.herf}>
							{pageContent.copy.sectionCta.ctaOne.linkCopy}
						</a>
					</div>
				</div>
				<div class="cta__content beliefs relative bg-white box-shadow">
					<div class="cta__icon">
						<BeliefsSVG />
					</div>
					<div class="cta__copy">
						<p>{pageContent.copy.sectionCta.ctaTwo.copy}</p>
					</div>
					<div class="cta__link text-center">
						<a href={pageContent.copy.sectionCta.ctaTwo.herf}>
							{pageContent.copy.sectionCta.ctaTwo.linkCopy}
						</a>
					</div>
				</div>
				<div class="cta__content blog relative bg-white box-shadow">
					<div class="cta__icon">
						<BlogSVG />
					</div>
					<div class="cta__copy">
						<p>{pageContent.copy.sectionCta.ctaThree.copy}</p>
					</div>
					<div class="cta__link text-center">
						<a href={pageContent.copy.sectionCta.ctaThree.herf}>
							{pageContent.copy.sectionCta.ctaThree.linkCopy}
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section events">
			<div class="container">
				<h2 class="subheading">{pageContent.copy.sectionEvents.header}</h2>
				<Events lang={lang} />
			</div>
		</section>
	</main>
</Layout>
<script>
	window.addEventListener("load", () => {
		document.querySelector("body.page-homepage .hero").classList.add("animate");
	})
</script>