---
import Layout from '@layouts/Layout.astro';
import Content from 'public/content/content.json';
import Hero from '@components/Hero.astro';
import '@pages/404.scss';

const page = "error";
const lang = "es";
const content = Content[lang];
const pageContent = content.pages[page];
const title = pageContent.metadata.title;
const description = pageContent.metadata.description;
const pageClass = `page-${page} ${lang}`;
---

<Layout
    title={title}
    description={description}
    lang={lang}
    esHref={pageContent.metadata.esHref}
    enHref={pageContent.metadata.enHref}
    pageClass={pageClass}
    canonical={`${pageContent}["${lang}Href"]`}
    >
    <main id="main">
        <Hero
            heading={pageContent.hero.header}
            verse={pageContent.hero.verse}
            book={pageContent.hero.book}
        />
        <section id="error" class="section-alt privacy ">
            <div class="container">
                <div class="error__content">
                    <Fragment set:html={pageContent.copy.sectionError.copy} />
                </div>
            </div>
        </section>
    </main>
</Layout>