---
import Layout from '@layouts/Layout.astro';
import Content from 'public/content/content.json';
import Hero from '@components/Hero.astro';
import '@pages/contact.scss';
import ContactForm from '@components/ContactForm.astro';
import Map from '@components/Map.astro';
import LocationSVG from '@components/LocationSVG.astro';
import EmailSVG from '@components/EmailSVG.astro';

const page = "contact";
const lang = "es";
const content = Content[lang];
const pageContent = content.pages[page];
const title = pageContent.metadata.title;
const description = pageContent.metadata.description;
const pageClass = `page-${page} ${lang}`;
---

<Layout
    title={title}
    description={description}
    lang={lang}
    esHref={pageContent.metadata.esHref}
    enHref={pageContent.metadata.enHref}
    pageClass={pageClass}
    canonical={`${pageContent}["${lang}Href"]`}
    >
    <main id="main">
        <Hero
            heading={pageContent.hero.header}
            verse={pageContent.hero.verse}
            book={pageContent.hero.book}
        />
        <section id="introduction" class="section-alt introduction ">
            <div class="container">
                <h2 class="subheading">{pageContent.copy.sectionIntro.header}</h2>
                <div class="contact__content flex flex-justify-between">
                    <div class="contact-form__container">
                        <ContactForm lang={lang} />
                    </div>
                    <div class="contact-info__container">
                        <div class="contact__item contact__email flex">
                            <div class="email__icon">
                                <EmailSVG />
                            </div>
                            <p><b>{lang == "es" ? "Correo electronico" : "Email"}:</b> <a class="inline" href="mailto:iglesia@graciadedios.ca"> iglesia@graciadedios.ca</a></p>
                        </div>
                        <div class="contact__item contact__address flex">
                            <div class="address__icon">
                                <LocationSVG />
                            </div>
                            <p><b>{lang == "es" ? "Direccion" : "Address"}:</b> 624 Annette St, Toronto, ON M6S 2C4</p>
                        </div>
                        <div class="contact__item contact__map">
                            <Map />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>