---
import Layout from "@layouts/Layout.astro";
import '@pages/post.scss';
import ContactForm from "@components/ContactForm.astro";
import Airtable from 'airtable';
import EmailSVG from "@components/EmailSVG.astro";
import WhatsAppSVG from "@components/WhatsAppSVG.astro";
import FacebookSVG from "@components/FacebookSVG.astro";
import TwitterSVG from "@components/TwitterSVG.astro";

export interface Props {
    id: string;
    lang: string;
}

const {id, lang} = Astro.props;

    const baseUrl = `https://www.graciadedios.ca${lang == "es" ? "/" : "/en/"}`;

    var base = new Airtable({apiKey: 'patASZXZ7wZJ7UAze.d6f74d1a0071400f4e538494d110713361c7f49cff46d77737deb93602a1cbc3'}).base('appg1WC3k58wcqQ72');

    const record = async (airtableBase) => {
        return (
            await airtableBase(`blog ${lang}`).find(id)
        )
    }

    const post = await record(base);

    const content = {
        path: post["fields"]["Path"],
        title: post["fields"]["Title"],
        description: post["fields"]["Description"],
        author: post["fields"]["Author"],
        length: post["fields"]["Length"],
        topic: post["fields"]["Topic"],
        date: post["fields"]["Date"],
        content: post["fields"]["Content"],
        image: `https://drive.google.com/uc?export=view&id=${post["fields"]["Image ID"]}`,
    }
---

<Layout
    title={content.title}
    description={content.description}
    lang={lang}
    esHref={`/blog/${content.path}`}
    enHref={`/en/blog/${content.path}`}
    pageClass={`blog-post blog-post-${content.path}`}
    canonical={content.path}
    >
    <main id="main">
        <section data-lang={lang} data-title={content.title} id={`post-${content.title}`} class="section-alt post">
            <div class="container">
                <h1 class="header">{content.title}</h1>
                <div class="post__content">
                    <div class="post__details flex flex-align-center">
                        <p><b>{lang == "es" ? "Tiempo de lectura:" : "Reading time:"}</b> {content.length} {lang == "es" ? "minutos" : "minutes"}</p>
                        <p><b>{lang == "es" ? "Tema:" : "Topic:"}</b> {content.topic}</p>
                        <p><b>{lang == "es" ? "Autor:" : "Author:"}</b> {content.author}</p>
                        <p><b>{lang == "es" ? "Fecha:" : "Date:"}</b> {content.date}</p>
                    </div>
                    <div class="post__share flex flex-align-center">
                        <h2>{lang == "es" ? "Comparte " : "Share "}</h2>
                        <div class="share__item email">
                            <a href={`mailto:?subject=${lang == "es" ? `Este articulo del Blog: Pepitas de Fe puede interesarte: "${content.title}"` : `You might find this post from the blog Nuggets of Faith interesting: "${content.title}"`}&body=${content.title} ${lang == "es" ? `${baseUrl}/blog/${content.path}` : `${baseUrl}/en/blog/${content.path}`}`} class="share__link" href="" target="_blank" rel="noopener">
                                <div class="share__image">
                                    <EmailSVG />
                                </div>
                                <span class="sr-only">{lang == "es" ? "Comparte via correo electronico" : "Share via email"}</span>
                            </a>
                        </div>
                        <div class="share__item whatsapp">
                            <a href={`https://wa.me/?text=${lang == "es" ? `Este articulo del blog Pepitas de Fe puede interesarte: "${content.title}" ${baseUrl}/blog/${content.path}` : `This article from the blog Nuggets of Faith might interest you: "${content.title}" ${baseUrl}/en/blog/${content.path}`}`} class="share__link" href="" target="_blank" rel="noopener">
                                <div class="share__image">
                                    <WhatsAppSVG />
                                </div>
                                <span class="sr-only">{lang == "es" ? "Comparte via Whatsapp" : "Share via Whatsapp"}</span>
                            </a>
                        </div>
                        <div class="share__item facebook">
                            <a href={`http://www.facebook.com/share.php?u=${lang == "es" ? `${baseUrl}/blog/${content.path}` : `${baseUrl}/en/blog/${content.path}`}`} class="share__link" href="" target="_blank" rel="noopener">
                                <div class="share__image">
                                    <FacebookSVG />
                                </div>
                                <span class="sr-only">{lang == "es" ? "Comparte via Facebook" : "Share via Facebook"}</span>
                            </a>
                        </div>
                        <div class="share__item twitter">
                            <a href={`https://twitter.com/intent/tweet/?text=${lang == "es" ? `Interesante articulo del blog Pepitas de Fe: "${content.title}"" ${baseUrl}/blog/${content.path}` : `Interesting article from the blog Nuggets of Faith: "${content.title}"" ${baseUrl}/en/blog/${content.path}`}`} class="share__link" href="" target="_blank" rel="noopener">
                                <div class="share__image">
                                    <TwitterSVG />
                                </div>
                                <span class="sr-only">{lang == "es" ? "Comparte via Twitter" : "Share via Twitter"}</span>
                            </a>
                        </div>
                    </div>
                    <div class="post__image" style={`background-image: url(${content.image})`}></div>
                    <div class="post__content">
                        <Fragment set:html={content.content} />
                    </div>
                    <div class="back__link relative">
                        <a href={lang == "es" ? "/blog#posts" : "/en/blog#posts"}>{lang == "es" ? "Descubre mas Pepitas de Fe" : "Uncover more Nuggets of Faith"}</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="section contact">
            <div class="container">
                <h2 class="subheading">{lang == "es" ? "Tienes preguntas o comentarios sobre este articulo?" : "Do you have any questions or comments about this post?"}</h2>
                <ContactForm lang={lang} />
            </div>
        </section>
    </main>
</Layout>
<script>
    window.addEventListener("load", () => {
        const title = document.querySelector("section.post").getAttribute("data-title");
        const lang = document.querySelector("section.post").getAttribute("data-lang");
        const message = lang == "es" ? "Pregunta/comentario sobre " : "Question/comment about ";

        document.getElementById("subject").value = `${message} ${title}`
    })
</script>