---
import "@components/EventCard.scss";
export interface Props {
    title: string;
    description: string;
    date: string;
    location: string;
    locationHref: string;
    addedClass: string;
    lang: string;
}

const { title, description, date, location, locationHref, addedClass, lang } = Astro.props;
---

<div class={`event-card ${addedClass}`}>
    <div class="event__content">
        <h3 class="event__title text-center">{title}</h3>
        <p class="event__description">{description}</p>
        <p class="event__date">{lang == "es" ? "Fecha:" : "When:"} <b>{date}</b></p>
        <p class="event__location">{lang == "es" ? "Lugar:" : "Where:"} <a class="inline" href={locationHref}><b>{location}</b></a></p>
    </div>
</div>