---
import LogoSmall from "@assets/logo_church-small.png";
import FacebookSVG from "@components/FacebookSVG.astro";
import TwitterSVG from "@components/TwitterSVG.astro";
import YoutubeSVG from "@components/YoutubeSVG.astro";
import "@components/Header.scss";
import LangSwitch from "@components/LangSwitch.astro";
export interface Props {
    lang: string;
    esHref: string;
    enHref: string;
}

const { lang, esHref, enHref  } = Astro.props;
---

<header id="header" class="relative">
    <div class="container flex flex-align-center">
        <div class="navbar__logo mobile">
            <a class="flex flex-align-center" href={lang == "es" ? "/" : "/en"}>
                <img height="68" width="78" alt={lang == "es" ? "Logo Iglesia del Nazareno, ir a pagina de inicio" : "Church of the Nazarene logo, go to homepage"} src={LogoSmall} />
            </a>
        </div>
        <div class="navbar__language mobile">
            <LangSwitch 
                lang={lang}
                esHref={esHref}
                enHref={enHref}
            />
        </div>
        <div class="navbar__mobile-menu mobile">
            <button class="relative" aria-expanded="false" aria-controls="navigationPanel" aria-label={lang == "es" ? "Abrir menu de navegacion" : "Open navigation menu"}>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="navigationPanel" class="navbar__panel flex flex-align-center flex-justify-between">
            <div class="navbar__logo desktop">
                <a class="flex flex-align-center" href={lang == "es" ? "/" : "/en"}>
                    <img alt={lang == "es" ? "Logo Iglesia del Nazareno" : "Church of the Nazarene Logo"} src={lang == "es" ? LogoSmall : LogoSmall} />
                </a>
            </div>
            <nav aria-label={lang == "es" ? "Navegacion primaria" : "Main navigation"} class="navbar__main-nav flex flex-align-center flex-justify-center">
                <a class="flex flex-align-center main-nav__link relative about" href={lang == "es" ? "/sobre-nosotros" : "/en/about-us"}>{lang == "es" ? <span>Sobre Nosotros</span> : <span>About Us</span>}</a>
                <a class="flex flex-align-center main-nav__link relative location" href={lang == "es" ? "/servicios-ubicacion" : "/en/services-location"}>{lang == "es" ? <span>Ubicacion y&nbsp;Servicios</span> : <span>Location &&nbsp;Services</span>}</a>
                <a class="flex flex-align-center main-nav__link relative beliefs" href={lang == "es" ? "/creencias" : "/en/beliefs"}>{lang == "es" ? <span>Nuestras Creencias</span> : <span>Our Beliefs</span>}</a>
                <a class="flex flex-align-center main-nav__link relative blog" href={lang == "es" ? "/blog" : "/en/blog"}>{lang == "es" ? <span>Blog: Pepitas&nbsp;de&nbsp;Fe</span> : <span>Blog: Nuggets&nbsp;of&nbsp;Faith</span>}</a>
            </nav>
            <div class="navbar__second-nav flex flex-align-center flex-justify-between">
                <div class="navbar__second-nav-social-links flex flex-justify-center">
                    <a class="second-nav__social" target="_blank" rel="noopener" href="https://www.facebook.com"><FacebookSVG /><span class="sr-only" lang={lang}>{lang == "es" ? "Siguenos en Facebook" : "Follow us on Facebook"}</span></a>
                    <a class="second-nav__social" target="_blank" rel="noopener" href="https://www.twitter.com"><TwitterSVG /><span class="sr-only" lang={lang}>{lang == "es" ? "Siguenos en Twitter " : "Follow us on Twitter "}</span></a>
                    <a class="second-nav__social" target="_blank" rel="noopener" href="https://www.youtube.com"><YoutubeSVG /><span class="sr-only" lang={lang}>{lang == "es" ? "Siguenos en Youtube " : "Follow us on Youtube "}</span></a>
                </div>
                <div class="navbar__second-nav-donate-links flex flex-justify-center">
                    <a class="second-nav__donate" target="_blank" rel="noopener" href="https://www.canadahelps.org/en/">{lang == "es" ? "Donaciones" : "Donate"}</a>
                </div>
                <div class="desktop">
                    <LangSwitch 
                    lang={lang}
                    esHref={esHref}
                    enHref={enHref}
                    />
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    document.querySelector(".navbar__mobile-menu button").addEventListener("click", (e) => {
        const trigger = e.target;
        const panel = document.getElementById(trigger.getAttribute("aria-controls"));
        const lang = document.querySelector("body").getAttribute("data-lang");
        const header = document.querySelector("header");
        const body = document.querySelector("body");
        if (trigger.getAttribute("aria-expanded") == "false") {
            trigger.setAttribute("aria-expanded", "true");
            trigger.setAttribute("aria-label", `${lang == "es" ? "Cerrar menu de navegacion" : "Close navigation menu"}`)
            panel.classList.add("expanded");
            header.classList.add("expanded");
            body.setAttribute("style", "overflow: hidden;");

        }
        else {
            trigger.setAttribute("aria-expanded", "false");
            trigger.setAttribute("aria-label", `${lang == "es" ? "Abrir menu de navegacion" : "Open navigation menu"}`)
            panel.classList.remove("expanded");
            header.classList.remove("expanded")
            body.removeAttribute("style");
        }
    })
</script>