---
import '@components/PostCard.scss';

export interface Props {
    id: string;
    lang: string;
    title: string;
    description: string;
    length: string;
    topic: string;
    author: string;
    date: string;
}

const { id, lang, title, description, length, topic, author, date } = Astro.props;
---

<a href={lang == "es" ? `/blog/${id}` : `/en/blog/${id}`} class={`post post--${id} relative box-shadow`}>
    <div class="post__title">
        <h3>{title}</h3>
    </div>  
    <div class="post__description">
        <Fragment set:html={description} />
    </div>
    <div class="post__details flex flex-align-center flex-justify-left">
        <p><b>{lang == "es" ? "Tiempo de lectura:" : "Reading time:"}</b> {length}{lang == "es" ? " minutos" : " minutes"}</p>
        <p><b>{lang == "es" ? "Tema:" : "Topic:"}</b> {topic}</p>
        <p><b>{lang == "es" ? "Autor:" : "Author:"}</b> {author}</p>
        <p><b>{lang == "es" ? "Fecha:" : "Date:"}</b> {date}</p>
    </div>
</a>