---
import Layout from "@layouts/Layout.astro";
import Posts from "public/content/posts.json";

export async function getStaticPaths() {
    const posts = Posts.posts;

    const staticPaths = posts.reduce((acc, v) => {
        acc.push({params: {id: v.id}});
        return acc;
    }, []);

    return staticPaths;

    // return [
    //     {params: {id: "1"}},
    //     {params: {id: "2"}},
    //     {params: {id: "3"}},
    //     {params: {id: "4"}},
    // ]
}

const { id } = Astro.params;
---

<Layout
    title="test"
    description="test"
    lang="en"
    esHref=""
    enHref=""
    pageClass="test"
    canonical="test"
    >
    <main id="main">
        <h1 class="header">{id}</h1>
        <div class="post__details">
            <div class="post__details flex flex-align-center flex-justify-left">
                <!-- <p><b>{lang == "es" ? "Tiempo de lectura:" : "Reading time:"}</b> {length}</p>
                <p><b>{lang == "es" ? "Tema:" : "Topic:"}</b> {topic}</p>
                <p><b>{lang == "es" ? "Autor:" : "Author:"}</b> {author}</p>
                <p><b>{lang == "es" ? "Fecha:" : "Date:"}</b> {date}</p> -->
            </div>
            <div class="post__image"></div>
            <div class="post__content">
                <Fragment set:html="" />
            </div>
        </div>
    </main>
</Layout>